# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
queue-management-app/node_modules
queue-management-app/.pnp
queue-management-app/package-lock.json
.pnp.js

# testing
queue-management-app/coverage

# production
queue-management-app/build
.idea

# API debug
backend/1.API/API/obj/
backend/1.API/API/bin/
backend/2.Domain/Domain.Data/obj/
backend/2.Domain/Domain.Data/bin/
backend/2.Domain/Domain.Schema/obj/
backend/2.Domain/Domain.Schema/bin/
backend/2.Domain/EF.Models/obj/
backend/2.Domain/EF.Models/bin/
backend/.vs/queue-management-backend/

#API VS Build
backend/.vs
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
